#root {
  margin: 0 auto;
  font-family: "Space Grotesk", "sans-serif";
}

.front_card {
  background: url("assets/front_card-bg.jpg");
  background-repeat: no-repeat;
  width: 447px;
  height: 245px;
  background-size: cover;
  border-radius: 15px;
}
.back_card {
  background: url("assets/back_card_bg.png");
  background-repeat: no-repeat;
  width: 447px;
  height: 245px;
  background-size: cover;
  border-radius: 15px;
}



@media screen and (max-width: 1024px){
  .front_card, .back_card{
    width: 290px;
    height: 159px; 
    border-radius: 10px;
  }
}
